<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{MM-dd HH:mm:ss.SSS} %-5p %c{0}:%L [%.11t] [%X{domain}] - %m%n</pattern>
        </encoder>
    </appender>
    <root level="info">
        <appender-ref ref="console"/>
    </root>

    <logger name="com.ning" level="INFO"/>
    <logger name="com.google" level="INFO"/>
    <logger name="org" level="INFO"/>
    <logger name="net" level="INFO"/>
</configuration>